/* You can add global styles to this file, and also import other style files */

/* MabryPro-Regular Font */
@font-face {
  font-family: 'MabryPro-Regular';
  src: url('/fonts/MabryPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Reset default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}